body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 30px 40px;
  background-color: rgb(196, 254, 254);
}

#container {
  border: 4px solid white;
  border-radius: 8px;
  box-shadow: 0px 0px 1px black;
  margin: 0 auto;
  width: 450px;
  height: 500px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  box-shadow: 0px 0px 2px black;
}

#hero {
  background-color: blueviolet;
  color: white;
  margin: 0;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}

h3 {
  margin-bottom: 4px;
}

#num-el {
  border: 1px solid wheat;
  border-radius: 4px;
  padding: 8px 18px;
  height: 30px;
  width: 50px;
  margin-top: 3px;
  font-size: 30px;
  font-weight: bold;
}

button {
  padding: 7px 18px;
  border: none;
  box-shadow: 0px 0px 2px black;
  border-radius: 4px;
  margin-bottom: 14px;
  font-weight: 500;
}

button:hover {
  transform: translateY(-2px);
  background-color: blueviolet;
  border: 2px solid white;
  color: blanchedalmond;
  border-radius: 6px;
}

button:active {
  transform: translateY(2px);
}
#unit-con {
  width: 100%;
  height: 60%;
  padding: 20px 5px;
  background-color: rgb(227, 224, 220);
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.unit {
  width: 90%;
  border: none;
  border-radius: 4px;
  background-color: white;
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.unit:hover {
  width: 95%;
  background-color: rgb(111, 31, 31);
  color: white;
}

h5 {
  margin-bottom: 5px;
}
p {
  font-size: 12px;
  margin-bottom: 8px;
}
p:hover {
  font-size: 15px;
}