body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 30px 40px;
  background-color: rgb(196, 254, 254);
}

#container {
  border: 3px solid white;
  border-radius: 6px;
  box-shadow: 0px 0px 1px black;
  margin: 0 auto;
  width: 450px;
  height: 500px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

#hero {
  background-color: hsl(272, 96%, 73%);
  color: white;
  margin: 0;
  width: 100%;
}

#unit-con {
  width: 100%;
  padding: 20px 10px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin: 0;
}

.unit {

}