body {
  margin: 0;
  text-align: center;
  border: 5px solid white;
  border-radius: 6px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#hero-section {
  background-image: url(images/background-img.jpeg);
  padding: 10px 0px 40px 0;
  margin: 0 auto;
  text-align: center;
}
#title {
  color: white;
  text-shadow: 0px 0px 1px black;
}
#title:hover {
  color: rgb(245, 183, 106);
  text-shadow: 0px 0px 4px black;
  font-weight: bolder;
}
#hero-text {
  color: white;
  max-width: 600px;
  text-shadow: 0px 0px 3px black;
  line-height: 20px;
}
#hero-text:hover {
  color: aqua;
  text-shadow: 0px 0px 7px rgb(81, 43, 29);
  font-size: large;
}
#qualities-section {
  background-color: #F1FAEE;
  margin: 0 auto;
  padding: 10px;
}
#qualities {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}
#qual-head {
  text-shadow: 0px 0px 4px white;
}
#qual-head:hover {
  color: antiquewhite;
  text-shadow: 0px 0px 5px #01050b;
}
.qual-img {
  width: 80px;
  border-radius: 50%;
  mar
}
.qual-point {
  margin-bottom: 5px;
  margin-top: 7px;
  text-shadow: 0px 0px 4px white;
}
.qual-point:hover {
  color: #A8DADC;
  font-size: large;
  text-shadow: 0px 0px 4px black;
}
.text {
  font-size: 12px;
  margin-top: 0;
  text-shadow: 0px 0px 4px white;
}
#qual-text:hover {
  font-size: 15px;
  color: rgb(204, 241, 43);
  text-shadow: 0px 0px 4px black;
}
.quality {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.quality:hover {
  border-radius: 6px;
  box-shadow: 0px 0px 5px #1D3557;
  background-color: #3e6d2d;
}
#guide-section {
  padding: 10px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin: 40px auto;
  color: #2b2839;
  background: #A8DADC;
  border-bottom: 5px solid #1D3557;
  border-radius: 6px;
  box-shadow: 0px 0px 4px #7ca3dc;
}
#guide-section:hover {
  width: 420px;
  height: 185px;
  background: #3a8385;
  color: rgb(220, 235, 226);
  box-shadow: 0px 0px 6px black;
  text-shadow: 0px 0px 6px black;
  border-top: 5px solid #53167a;
  border-bottom: 0;
}
#guide-img {
  width: 150px;
}
#guide-info {
  text-align: center;
}