body {
  background-image: url(sub-station-img.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: aliceblue;
}
h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  color: aliceblue;
}
button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 20px;
  border-radius: 5px;
}
#increment-btn {
  background-color: darkred;
}
#save-btn {
  background-color: green;
}
#save-el {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
}