body {
  color: #82a5ca;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
  margin: 0;
}
#hero-section {
  background-image: url(images/universe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 0px 40px 0;
}
#title {
  text-shadow: 0px 0px 4px black;
}
.btn {
  padding: 6px 12px;
  font-weight: bold;
  background: white;
  color: #82a5ca;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}
.underline {
  border-bottom: 4px solid white;
}
#main-logo {
  width: 100px;
}