body {
  margin: 0;
  background-color: pink;
  font-family: 'Inter', sans-serif;
}

#homes-container {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 4px black;
  background-color: white;
  color: black;
}
.cards {
  display: flex;
  border-radius: 7px;
  box-shadow: 0px 0px 4px black;
}
img {
  max-width: 200px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
.desc {
  text-align: start;
}