#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.post-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1)
}

.post-card h3 {
  color: #333;
  text-transform: capitalize;
  margin-top: 0;
} 

.post-card p {
  color: #666;
  line-height: 1;
}