body {
  margin: 0;
  padding: 20px;
  background-color: #222;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#upload-container {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.file-status {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.status {
  color: red;
  font-weight: black;
}
#submit-imgs {
  background-color: #2980b9;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid darkblue;
  color: white;
}
#img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
img {
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}