body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif, cursive;
  background: linear-gradient(#a2d2ff, #EFB0C9);
  color: #ffffff;  
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile-img {
  width: 150px;
  border-radius: 50%;
  border: 6px solid #EFB0C9;
}
h1, h2, h3, h4, p {
  text-shadow: 0px 0px 1px black;
}
#bday-age {
  background-color: #EFB0C9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}
#bday-date {
  background-color: #EFB0C9;
  padding: 5px 10px;
  margin: 0;
  border-radius: 5px;
}
.gift-section {
  margin-top: 50px;
}
.gift-title {
  margin-bottom: 10px;
}
.gift-hint {
  margin-top: 0;
}
.gift-img {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  border: 6px solid white;
  border-radius: 10px;
  background-image: url(images/gift-cover.png);
  background-size: cover;
}
#gift-img-happy:hover {
  background-image: url(gifs/happy.gif);
}
#gift-img-hot:hover {
  background-image: url(gifs/wish.webp);
}
.footer {
  width: 400px;
  margin: 40px auto 20px auto;
  font-style: italic;

}
a {
  color: white;
}