body {
  font-family: Arial, Helvetica, sans-serif, cursive;
  background-color: #a2d2ff;
  color: #ffffff;  
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile-img {
  width: 150px;
  border-radius: 50%;
  border: 6px solid #EFB0C9;
}
h1, h2, h3, h4, p {
  text-shadow: 0px 0px 1px black;
}
#bday-age {
  background-color: #EFB0C9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}
#bday-date {
  background-color: #EFB0C9;
  padding: 5px 10px;
  margin: 0;
  border-radius: 5px;
}