.Container {
  position: relative;
  width: 100%;
  border: 1px solid white;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}

.Favorite {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 20px;
  background: none;
  border: 0;

  &:hover {
    top: 10px;
    right: 10px;
    font-size: 24px;
  }
}

.Specifications {
  list-style: none;
  padding: 0;
}
