body {
  font-family: Arial, sans-serif;
   margin: 0;
   padding: 30px 40px;
   text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(20, 88, 122);
  box-shadow: 0px 0px 4px black;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  background-color: rgb(14, 171, 171);
  border-radius: 10px;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  margin-top: 0;
  width: 60%;
  font-weight: bold;
}

h1 {
  margin-bottom: 40px;
}

input {
  width: 100%;
}

#num1, #num2 {
  margin-bottom: 20px;
  margin-top: 10px;
  border: 2px solid rgb(20, 88, 122);
  border-radius: 4px;
  padding: 5px 2px;
}

