body {
  font-family: Arial, sans-serif;
   margin: 0;
   padding: 30px 40px;
   text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(20, 88, 122);
  box-shadow: 0px 0px 4px black;
  margin: 0 auto;
  width: 400px;
  height: 500px;
  box-sizing: border-box;
  background-color: rgb(14, 171, 171);
  border-radius: 10px;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  margin-top: 0;
  width: 60%;
  font-weight: bold;
}

h1 {
  margin-bottom: 30px;
}

input {
  width: 100%;
}

#num1 {
  margin-bottom: 20px;
  margin-top: 10px;
  border: 2px solid rgb(20, 88, 122);
  border-radius: 4px;
  padding: 5px 2px;
}

#num2 {
  margin-bottom: 10px;
  margin-top: 10px;
  border: 2px solid rgb(20, 88, 122);
  border-radius: 4px;
  padding: 5px 2px;
}
button {
  width: 50%;
  margin-top: 10px;
  margin-left: 60px;
  padding: 10px;
  background-color: rgb(20, 88, 122);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}
button:hover {
  background-color: rgb(14, 171, 171);
  border: 2px solid rgb(20, 88, 122);
  transform: translateY(-2px);
}
button:active {
  transform: translateY(2px);
}

#result {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}
