body{
  padding: 50px 50px;
  margin: 0;
  font-weight: 600;
  text-align: center;
}
#num1-el {
  border-bottom: 4px solid black;
  font-size: 40px;
  margin-right: 10px;
}
#num2-el {
  border-bottom: 4px solid black;
  font-size: 40px;
  margin-left: 10px;
}
button {
  border: 2px solid black;
  border-radius: 7px;
  padding: 10px 20px;
  margin: 20px 5px 20px 5px;
  background: white;
  font-weight: bold;
}
#sum-el {
  border-bottom: 4px solid black;
  font-size: 30px;
}